body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: ButtonShadow;
    margin: 25px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1 {
    color: black;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h2 {
    color: black;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
/*h3 {
    color: red;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}*/

table {
    text-align: center;
    border: 2px solid black;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    outline-style: hidden;
    margin: 20px;
}
table, th {
    text-align: center;
}

button {
    padding: 10px 20px;
    border-radius: 12px;
}

footer h3 {
    color: black;
    text-align: center;
    text-shadow: 1px 1px 2px red, 0 0 25px blue, 0 0 5px darkblue;
    margin:50px;
}
